extend layout

block title
    | KDE 台灣 KDE Taiwan 首頁

block content
    #index_left_container
        .index_inner_container(ng-controller="FeaturedCtrl")
            h2 最新消息
            .index_inner_content
                include ../md/news/news.md

        .index_inner_container(ng-controller="BlogCtrl")
            h2 KDE 中文星球
            article(ng-repeat="article in articles | orderBy:'$index':true")
                h3: a(ng-href="{{article.link}}") {{article.title}}
                p(ng-bind-html-unsafe="article.description | less:article.link")

    #index_right_container

        .index_inner_container

            .events(ng-controller="EventCtrl")
                h2 活動   
                iframe(width="240", src="google_act.php", frameborder="0", allowfullscreen)

            .rss
                h2 RSS 訂閱
                ul
                    li
                        a(href="http://planetkde.org/zh/rss20.xml") <img src="imgs/akregator.png" alt="" width="22" height="22"> Planet KDE
                    li
                        a(href="http://www.muktware.com/kde/feed") <img src="imgs/akregator.png" alt="" width="22" height="22"> KDE Magazine
                    li
                        a(href="http://dot.kde.org/rss.xml") <img src="imgs/akregator.png" alt="" width="22" height="22"> Dot KDE.
            .logbot
                h2 即時聊天
                iframe(width="240",height="480",src="",frameborder="0",allowfullscreen)

    #index_float_clear
